body{
	background-image:url('../img/background2.jpg');
	background-repeat:no-repeat;
	margin:0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#overall{
	background-color:rgba(0,0,0,0.7);
	min-width:100%;
}
.outerOpaque{
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:white;
	min-height: 100vh;
}
#vish{
	font-family:'Raleway',sans-serif;
	font-size:20px;
	padding:8px;
	background-color:rgba(0,0,0,0.7);
	width: 112px;
	color:white;
}
#vishText {
    font-size:190%;
	text-align:center;
	padding:35px;
	font-weight:700;
}
#mish{
	font-family:'Raleway',sans-serif;
	font-size:20px;
	padding:8px;
	background-color:rgba(0,0,0,0.7);
	width: 132px;
	color:white;
}
#mishText {
    font-size:190%;
	text-align:center;
	padding:35px;
	font-weight:700;
}
