body {
}
#instaDiv{
	float: none;
    margin-left: auto;
    margin-right: auto;
	margin-top:50px;
	background-color:grey;
	height: 600px;
    overflow-y: auto;
}
.postDiv{
	width:100%;
	border:1px solid black;
	margin-bottom:60px;
	background-color:white;
}
.instaLogoTop{
	width:100%;
}
.instaLogo{
	width:100%;
	font-family:'Billabong';
	font-weight:normal;
	font-size:32px;
	background-color:white;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	color:#0d0d0d;
}
.userDiv{
	width:100%;
	height:auto;
	border-top:1px solid grey;
}
#dpBorder{
	width:32px;
	height:32px;
	border:1px solid #ff0042;
	border-radius:50%;
	margin:4px;
	float:left;
}
#dp{
	width:28px;
	height:28px;
	border:1px solid white;
	border-radius:50%;
	margin:1px;
	background-color:grey;
	font-weight: 100;
}
.userName{
	float:left;
	color:black;
	vertical-align: middle;
    display: inline-block;
	margin-top:10px;
	margin-bottom:10px;
	font-weight:lighter;
}
.picture{
	width:100%;
	background-image:url('../../assets/images/AJ-Greatest.png');
	background-size:100% 100%;
	background-repeat:no-repeat;
}
.buttonsDiv{
    width: 100%;
    color: #0d0d0d;
	display:inline-block;
}
.heart{
    width: 35px;
    height: 35px;
    float: left;
    margin-top: 3px;
}
.comment{
	width: 39px;
    height: 39px;
	float:left;
}
.send{
	width:25px;
	height:25px;
	margin-left:3px;
	float:left;
	margin-top:8px;
}
.bookmark{
	width:25px;
	height:25px;
	margin-left:3px;
	float:left;
}
.captionDiv{
    width: 100%;
    font-size: 28px;
    color: #0d0d0d;
	padding-left:6px;
	display:flex;
}
.userName2{
	color:black;
	vertical-align: middle;
    display: inline-block;
	margin-top:0px;
	margin-bottom:0px;
	font-weight:lighter;
	float:left;
}
#captionText{
	color:black;
	vertical-align: middle;
    display: inline-block;
	margin-top:0px;
	margin-bottom:0px;
	font-weight:lighter;
	font-size: 16px;
	margin-left:8px;
	margin-top:-1px;
}