body{
	background-image:url('../img/background2.jpg');
	background-repeat:no-repeat;
	margin:0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#overall{
	background-color:rgba(0,0,0,0.7);
	min-width:100%;
}
.outerOpaque{
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:white;
	min-height: 100vh;
}
#loc{
	font-family:'Raleway',sans-serif;
	font-size:20px;
	padding:8px;
	background-color:rgba(0,0,0,0.7);
	width: 153px;
	color:white;
}
#ad1{
	padding:7px;
	border-left:2px solid #cc0000;
	border-radius:4px;
	width:200px;
	height:auto;
	font-family:'Raleway',sans-serif;
	font-size:16px;
	margin-top:8px;
	margin-bottom:8px;
	background-color:#f2f2f2;
}
#ad2{
	padding:7px;
	border-left:2px solid #337ab7;
	border-radius:4px;
	width:200px;
	height:auto;
	font-family:'Raleway',sans-serif;
	font-size:16px;
	margin-top:8px;
	margin-bottom:8px;
	background-color:#f2f2f2;
}