.navbar{
	background-color:rgba(0,0,0,0.7);
	margin-bottom:0px;
	border:0px;
}
.navbar-brand {
    padding:0px;
}
.navbar-brand>img {
    display:inline-block;
	padding:0px;
}
.navbar-default .navbar-brand {
    color:white;
	font-family:'Raleway',sans-serif;
}
.navbar>.container-fluid .navbar-brand {
    margin-left:70px;
}
.navbar-default .navbar-nav>li>a {
    color:white;
}
.navbar-default .navbar-nav>li>a:hover{
    color: #337ab7;
}
.navbar-nav {
    float: right;
    margin:0;
	margin-right:70px;
}
.container{
	padding-right:0px;
	padding-left:0px;
}



#foot{
	bottom:0;
	height:auto;
	background-color:rgba(0,0,0,0.82);
	margin:0px;
	min-width:100%;
	color:#80b3ff;
	margin-left:auto;
	margin-right:auto;
}
.info-detail>ul{
    list-style: none;
}
#messageForm{
    color: black;
}
#messageForm>input{
    margin-bottom: 15px;
    width:55%;
    border-radius: 4px;
    padding: 7px;
    border: 0px;
}
#message{
    resize: none;
    width: 55%;
    border-radius: 5px;
}
#submit-btn{
	background-color:#337ab7;
	color:white;
	border:0px;
	padding:8px;
	border-radius:4px;
	width:80px;
}
#submit-btn:hover{
	background-color:#003366;
}
@media (max-width:1185px){
	.navbar>.container-fluid .navbar-brand {
		margin-left:0px;
	}
	.navbar-nav {
		margin-right:0px;
	}
}
@media (max-width:768px){
	.navbar-nav {
		float:left;
		width:100%;
	}
}
@media (max-width:650px){
	#messageForm>input{
		width:300px;
	}
	#message{
		width:300px;
	}
}
@media (max-width:350px){
	#messageForm>input{
		width:100%;
	}
	#message{
		width:100%;
	}
}
@media (max-width:283px){

}