body{
	background-image:url('../img/background2.jpg');
	background-repeat:no-repeat;
	margin:0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.container {
	padding-right:0px;
	padding-left:0px;
}
.outerOpaque{
	padding-top:30px;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0.58);
	min-height: 100vh;
}
#hospNameDiv{
	width:268px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
#logo{
	margin-left:auto;
	margin-right:auto;
	display:block;
}
#headerText{
	font-family:'Raleway',sans-serif;
	color:white;
	font-size:19px;
	text-decoration:none;
	margin-left:auto;
	margin-right:auto;
	display:block;
	text-align: center;
	font-style: italic;
}
#headerText,a{
	font-family:'Raleway',sans-serif;
	color:white;
	font-size:19px;
	text-decoration:none;
	margin-left:auto;
	margin-right:auto;
	display:block;
	text-align: center;
	font-style: italic;
}
.someInfo{
	font-family:'Raleway',sans-serif;
	color:white;
	font-size:19px;
	padding-left:15%;
	padding-right:15%;
}
.someInfo>hr{
	width:65%;
}
#phoneDiv{
	width: 155px;
    margin-left: auto;
    margin-right: auto;
}
#phoneDiv>img{
	display:inline-block;
	float:left;
}
#phoneDiv>p{
	display:inline-block;
	margin-top:0px;
	margin-bottom:0px;
	text-align:center;
	float:left;
}
.someInfo>p{
	display:inline-block;
	margin-top:6px;
	margin-bottom:6px;
	padding-left: inherit;
}
.someInfo>p>a{
	color:white;
}
.menu{
	margin-left:auto;
	margin-right:auto;
	width: 1100px;
	padding-left:30px;
	padding-right:30px;
	font-family:'Raleway',sans-serif;
	color:white;
	font-size:19px;
	text-align:center;
}
.mentem{
    width:auto;
    height:auto;
	display:inline-block;
	margin:10px;
	margin-left:35px;
	margin-right:35px;
}
.mentem>p{
	font-family:'Raleway',sans-serif;
	color:white;
	font-size:19px;
	text-align:center;
	margin:0px;
}
#mentem{
    width: 85px;
    height: 85px;
	background-image:url('../img/services1.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:auto;
	margin-right:auto;
}
#mentem2{
    width: 85px;
    height: 85px;
	background-image:url('../img/gallery2.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:auto;
	margin-right:auto;
}
#mentem3{
    width: 85px;
    height: 85px;
	background-image:url('../img/about2.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:auto;
	margin-right:auto;
}
#mentem4{
    width: 85px;
    height: 85px;
	background-image:url('../img/stories.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:auto;
	margin-right:auto;
}
#mentem5{
    width: 85px;
    height: 85px;
	background-image:url('../img/locate2.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:auto;
	margin-right:auto;
}
#mentem6{
    width: 85px;
    height: 85px;
	background-image:url('../img/career.png');
	background-repeat:no-repeat;
	background-size:100% 100%;
	margin-left:auto;
	margin-right:auto;
}
@media (max-width:1221px){
	.menu{
		width:auto;
	}
}
@media (max-width:520px){
	.mentem{
		width:100%;
		margin-left:auto;
		margin-right:auto;
	}
}
@media (max-width:350px){
	#phoneDiv{
		width:100%;
	}
}
@media (max-width:283px){
	#hospNameDiv{
		width:100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}